
.blok {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #e90d2c;
}

.dati {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  margin: 20px;
}

.input {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #e90d2c;
  border-radius: 25px;
  color: white;
  font-size: 16px;
}

.input::placeholder {
  color: white;
}

.poga {
  width: 100%;
  padding: 15px;
  border: 2px solid #e90d2c;
  background-color: white;
  color: #e90d2c;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.poga:hover {
  background-color: #e90d2c;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 20px;
}

.logo {
  height: 40px;
  border-radius: 20px;
}

.login, .salabosim {

  border-radius: 20px;
  text-decoration: none;
}

.salabosim {
  background-color: #e90d2c;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  align-items: left;

}

.augsupogas{
  text-decoration: none;
  color:#e90d2c;
  font-size: 25px;
  text-align:center;
}