.infotext {
  font: Helvetica;
  background-color: white;
color: #e90d2c;
  font-size: 55px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  
}

.mebelespoga{
  text-decoration: none;
  cursor:pointer;
  background-color: #e90d2c;
  flex-direction: center;
  align-items: center;
  position: center;
}

