html {
  height: 100%;
  width: 100%;
  background-color: #e90d2c;

  
}
 

nav {
  float: top;
  font-size: 30px;
  background-color: white;
  border-radius: 25px;
  padding: 35px;
  text-align: center;
  align-items: center;
  text-decoration:none;
  

}

div {
  background-color: white;
}


content {
  width: 150px;
  height: 200px
  padding:10px;
  background-color: white;
}

ul{
  display: inline-block;
}

ul {
  text-align: left;
  display: flex;
  gap: 10 px;
  list-style: none;
  margin: 0;
  align-items: space-between;;
  align-items:center;
  text-decoration:none;
}

ol{
  align-items: center;
  flex-direction: row;
}
