html {
  height: 100%;
  width: 100%;
  background-color: #e90d2c;
}

nav {
  background-color: white;
  padding: 15px 0;
  width: 100%;
  border-radius:25px;
}

div {
  background-color: white;
}

content {
  width: 150px;
  height: 200px;
  padding: 10px;
  background-color: white;
}

ul {
  text-align: left;
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  align-items: space-between;
  align-items: center;
  text-decoration: none;
}

ol {
  align-items: center;
  flex-direction: row;
}

.logo {
  height: 40px;
  border-radius: 20px;
}

.augsupogas{
  text-decoration: none;
  color:#e90d2c;
  font-size: 25px;
  text-align:center;
}

.augsupogas:hover{
  color:black
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 20px;
}

.logo {
  height: 40px;
  border-radius: 20px;
}

.salabosim {
  background-color: #e90d2c;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;

}